
upstream app {
    server ${APP_HOST}:${APP_PORT};
}

server {
    listen 80;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    ssl_certificate ${SSL_APP_CERT_PATH};
    ssl_certificate_key ${SSL_APP_CERT_KEY_PATH};


    location / {
        proxy_pass http://app;
    }
}
